{% extends "template.twig.html" %}

{% block body %}
    <div class="container">
        <div class="wrapper">
            <form role="form" method="POST" name="login_form" class="form-signin">
                <h3 class="form-signin-heading">Nuevo post</h3>

                <hr class="colorgraph">
                
                <br/>
                
                <input type="text" class="form-control" name="title" placeholder="Titulo" required="" autofocus="">
                <input type="text" class="form-control" name="description" placeholder="Cuerpo" required="">
                
                <button type="submit" class="btn btn-lg btn-primary btn-block" name="submit" value="CreatePost" >
                    Crear post
                </button>
            </form>

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}